* {
    margin: 0;
    align-items: center;
}

.container{
    display: flex;
    height: 50vh;
    width: 99vw;
    justify-content: center;
    margin: auto;
}

.dados{
    width: 70vw;
    height: 30vh;
    border: 3px solid black;
    text-align: center;
    justify-content: center;
    display: flex;
}

#resultados{
    margin-bottom: 100%;
    width: 99%;
    height: 45%;
    border: 3px solid black;
    margin: auto;
}
