header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #12263af3;
    z-index: 1;
    text-align: center;
    align-content: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #12263af3;
    text-align: center;
    align-content: center;
}

#github{
    color: white;
    font-size: 2vw;
    text-decoration-color: white;
}

#sair{
    margin-top: 2vh;
    position: absolute;
    left: 90vw;
    color: black;
    font-size: 1.5vw;
    text-decoration-color: black;
    background-color: #C5D8D1;
    padding: .6%;
    border: 3px solid white;
    transition: .5s;
    border-radius: 10px;
}

#sair:hover{
    background-color: #2f7a7c;
    padding: 1%;
    color: white;
    text-decoration-color: white;
}

header, h1{
    color: white;
    font-size: 3vw;
}

header, h2{
    color: white;
    font-size: 1.5vw;
}

body{
    margin: 0;
    padding: 0;
    background-color: #1f4e50;
}

.container{
    height: 100vh;
    width: 100%;
    margin-top: 10%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 7fr);
    align-content: start;
}

.divEntidades{
    height: 75%;
    width: 75%;
    text-align: center;
    padding: 1%;
    margin: auto;
    background-color: #C5D8D1;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    transition: .5s;
}

a{
    text-decoration-color: black;
    transition: .5s;
}

a:hover{
    text-decoration-color: white;
}

.divEntidades:hover{
    background-color: #2f7a7c;
    color: white;
}

.links{
    color: black;
}