header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #12263af3;
    text-align: center;
    align-content: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #12263af3;
    text-align: center;
    align-content: center;
}

#github{
    color: white;
    font-size: 4vmin;
    text-decoration-color: white;
}

h1{
    color: white;
    font-size: 6vmin;
}

#subtitulo{
    color: white;
    font-size: 3vmin;
}

#menu{
    margin-top: 4vmin;
    position: absolute;
    left: 90vw;
    color: black;
    font-size: 3vmin;
    text-decoration-color: black;
    background-color: #C5D8D1;
    padding: .6%;
    border: 3px solid white;
    transition: .5s;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    width: 5%;
    height: 15%;
}

#menu:hover{
    background-color: #2f7a7c;
    padding: 1%;
    color: white;
    text-decoration-color: white;
}

body{
    background-color: #1f4e50;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin: auto;
}

h2{
    font-size: 2.5vmin;
    color: #C5D8D1;
}

p{
    font-size: 1.5vmin;
    color: #C5D8D1;
}

input::placeholder{
    font-size: 1.4vmin;
    text-align: center;
    color: black;
    transition: .5s;
}

input:hover::placeholder{
    color: white;
}

input{
    font-size: 1.4vmin;
    height: 3vh;
    width: 7vw;
    transition: .5s;
    background-color: #C5D8D1;
    border: 3px solid white;
    color: black;
}

.dados{
    margin-bottom: 2vmin;
    margin-top: 20vh;
    width: 50vmin;
    height: 40vmin;
    border: .5vmin solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(1, 7fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #12263A;
}

button{
    background-color: #C5D8D1;
    height: 3vmin;
    width: 10vmin;
    margin: auto;
    transition: .5s;
    border: .5vmin solid white;
    border-radius: 10px;
    font-size: 1.4vmin;
    text-align: center;
}

#enviar{
    margin-top: 2vh;
}

button:hover{
    background-color: #2f7a7c;
    height: 4vmin;
    width: 11vmin;
    color: white;
}

input:hover{
    background-color: #2f7a7c;
    color: white;
}

#resultados{
    width: 180vmin;
    border: .5vmin solid rgb(255, 255, 255);
    margin: auto;
    margin-bottom: 11vh;
    background-color: #12263A;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#resultadoBusca{
    margin-left: 2vmin;
    color: #C5D8D1;
}