header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #12263af3;
    text-align: center;
    align-content: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #12263af3;
    text-align: center;
    align-content: center;
}

#github{
    color: white;
    font-size: 2vw;
    text-decoration-color: white;
}

h1{
    font-size: 300%;
    color: white;
    font-size: 3vw;
}

header, h2{
    color: white;
    font-size: 1.5vw;
}

body{
    margin: 0;
    padding: 0;
    background-color: #1f4e50;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#divLogin{
    top: 50%;
    left: 50%;
    width: 15%;
    height: 35%;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #12263A;
    border: 3px outset white;
    border-radius: 20px;
}

#botaoEnvio{
    width: 5vw;
    height: 3vh;
    transition: .5s;
    background-color: #C5D8D1;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    font-size: .75vw;
    margin-bottom: 2vmin;
}

input::placeholder{
    font-size: .7vw;
    text-align: center;
    color: black;
    transition: .5s;
}

input:hover::placeholder{
    color: white;
}

#inputNome, #inputSenha{
    font-size: .7vw;
    margin-bottom: 5%;
    height: 3vh;
    width: 7vw;
    transition: .5s;
    background-color: #C5D8D1;
    border: 3px solid white;
    color: black;
}

#botaoEnvio:hover{
    background-color: #2f7a7c;
    height: 4vh;
    width: 6vw;
    color: white;
}

#inputNome:hover, #inputSenha:hover{
    background-color: #2f7a7c;
    color: white;
}

#formLogin, label{
    color: white;
    font-size: 1vw;
}

#login{
    color: white;
}